<ion-view view-title="KONIC" cache-view="true">
    <ion-nav-title>
        KONIC
    </ion-nav-title>
    <ion-content class="padding">
        <h2>Welcome to Konic</h2>
        <p>
            konic是用ionic的前端文件h5文件，用gulp自动打包的前端模板，目前ionic的版本是v1.2.4...<br/>
            有时间将会继续更新ing
        </p>
        <!--
        <h2>测试Node接口用</h2>
        <div class="button button-small button-dark" ng-click="ajax('get')">GET测试</div><br/>
        <ion-item style="white-space: normal">
           GET测试：<br/>{{rep.get}}
        </ion-item>
        <div class="button button-small button-dark" ng-click="ajax('post')">POST测试</div><br/>
        <ion-item style="white-space: normal">
            POST测试：<br/>{{rep.post}}
        </ion-item>
        -->
    </ion-content>
</ion-view>
