<ion-tabs class="tabs-icon-top tabs-dark tabs-color-light">
    <ion-tab title="KONIC" icon-off="ion-social-angular-outline" icon-on="ion-social-angular" href="#/tab/index">
        <ion-nav-view name="tab-index"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Directives" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/tab/directives">
        <ion-nav-view name="tab-directives"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contact" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/contact">
        <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>
</ion-tabs>
